1. What are data structures, and why are they important?
   - Data structures are tools for organizing and processing data efficiently. Strings, lists, tuples and sets, dictionary are some types of data structure.

2. Explain the difference between mutable and immutable data types with examples.
   - Mutable data types can be changed after creation (e.g., list, dict), while immutable data types cannot be changed once created (e.g., int, str, tuple).

3. What are the main differences between lists and tuples in Python?
   - Lists are mutable, dynamic, and consume more memory, while tuples are immutable, faster, and use less memory.

4. Describe how dictionaries store data.
   - Dictionaries store data as key-value pairs using a hash table, where each key is hashed to determine its index in memory, allowing fast access, insertion, and deletion.

5. Why might you use a set instead of a list in Python?
   - You might use a set instead of a list in Python when you need unique items, faster lookups, or set math operations.

6. What is a string in Python, and how is it different from a list?
   - A string in Python is an immutable sequence of characters, whereas a list is a mutable sequence that can hold any data types.

7.  How do tuples ensure data integrity in Python?
    - Tuples ensure data integrity in Python by being immutable, meaning once created, their values cannot be changed, added, or removed, which protects the data from accidental modification.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that stores key-value pairs using a hash function to compute an index.

9. Can lists contain different data types in Python?
   - Yes, lists in Python can contain different data types, including integers, strings, floats, other lists, or even custom objects.

10. Explain why strings are immutable in Python.
    - Strings are immutable in Python to ensure memory efficiency, security, and reliability, especially when shared across multiple parts of a program.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries offer faster, more meaningful access to data compared to lists, especially when working with key-based lookups.

12. Describe a scenario where using a tuple would be preferable over a list.
    - When storing fixed data that should never change, such as GPS coordinates, database record keys, or days of the week, a tuple is preferable.

13. How do sets handle duplicate values in Python?
    - In Python, sets automatically remove duplicate values, storing only unique elements.

14. How does the “in” keyword work differently for lists and dictionaries?
    - The "in" keyword checks for values in lists and checks for keys in dictionaries.

15. Can you modify the elements of a tuple? Explain why or why not?
    - No, you cannot modify the elements of a tuple because tuples are immutable in Python, once created, their elements cannot be changed, added, or removed.

16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary is a dictionary inside another dictionary, allowing you to store structured, hierarchical data.

    students = { "101": {"name": "Aditya", "age": 21, "grade": "A"},
    "102": {"name": "Riya", "age": 22, "grade": "B"}}
    print(students["101"]["name"])  # Output: Aditya

17. Describe the time complexity of accessing elements in a dictionary.
    -

18. In what situations are lists preferred over dictionaries?
    - Lists are preferred over dictionaries when order matters, and you only need to store and access items by index rather than by key.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - dont know

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - A list retrieves data by index (position), while a dictionary retrieves data by key (name).

In [ ]:
# Write a code to create a string with your name and print it
...
my_name = "Shubham Malwankar"

print("My name is:", my_name)
...

My name is: Shubham Malwankar

In [ ]:
# Write a code to find the length of the string "Hello World".
...
len("Hello world")
...

11

In [ ]:
# Write a code to slice the first 3 characters from the string "Python Programming".
...
text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)
...

Pyt

In [ ]:
# Write a code to convert the string "hello" to uppercase
...
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)
...

HELLO

In [ ]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".
...
text = "I like apple"
text.replace("apple", "orange")
...

'I like orange'

In [ ]:
# Write a code to create a list with numbers 1 to 5 and print it.
...
numbers = [1, 2, 3, 4, 5]
print("List of numbers:", numbers)
...

List of numbers: [1, 2, 3, 4, 5]

In [ ]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
...
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)
...

[1, 2, 3, 4, 10]

In [ ]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
...
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)
...

[1, 2, 4, 5]

In [ ]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
...
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)
...

b

In [ ]:
# Write a code to reverse the list [10, 20, 30, 40, 50].
...
numbers = [10, 20, 30, 40, 50 ]
reversed_numbers = numbers[::-1]
print(reversed_numbers)
...

[50, 40, 30, 20, 10]

In [ ]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it
...
numbers = (100, 200, 300)
print("Tuple:", numbers)
...

Tuple: (100, 200, 300)

In [ ]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
...
tuple = ('red', 'green', 'blue', 'yellow')
second_last = tuple[-2]
print(second_last)
...

blue

In [ ]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
...
numbers = (10, 20, 5, 15)
minimum = min(numbers)
print(minimum)
...

5

In [ ]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
...
animal = ('dog', 'cat', 'rabbit')
cat = animal.index('cat')
print(cat)
...

1

In [ ]:
#  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
...
fruits = ("apple", "orange", "kiwi")
if "kiwi" in fruits:
   print("kiwi is in tuple")
else:
   print("kiwi is not in tuple")
...

kiwi is in tuple

In [ ]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
...
my_set = {'a', 'b', 'c'}
print("set =", my_set)
...

set = {'c', 'b', 'a'}

In [ ]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
...
set = {1, 2, 3, 4, 5}
set.clear()
print(set)
...

set()

In [ ]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
...
number = {1, 2, 3, 4}
number.remove(4)
print(number)
...

{1, 2, 3}

In [ ]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
...
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)
...

{1, 2, 3, 4, 5}

In [ ]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
...
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print(intersection_set)
...

{2, 3}

In [ ]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
...
Biodata = {"name": "shubham", "agw": "25", "city": "mumbai"}
print(Biodata)
...

{'name': 'shubham', 'agw': '25', 'city': 'mumbai'}

In [ ]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
...
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print("Updated dictionary:", person)
...

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
...
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)
...

Alice

In [ ]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
...
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)
...

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
...
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")
...

Key 'city' exists in the dictionary.

In [ ]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
...
my_list = [1, 2, 3, 4, 5]

my_tuple = ('apple', 'banana', 'cherry')

my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)
...

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [ ]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
...
...

In [ ]:
#  Write a code to create a list with strings and print the element at the third index.
...
words = ["apple", "banana", "cherry", "date"]
print(words[3])
...

date

In [ ]:
# Write a code to combine two dictionaries into one and print the result.
...
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}

print(combined_dict)
...

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Write a code to convert a list of strings into a set.
...
numbers = [1, 2, 3, 4]
numbers_set = set(numbers)
print(numbers_set)
...

TypeError: 'set' object is not callable